/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* icons: https://www.flaticon.com/free-icon/show-more-button-with-three-dots_61140#term=dots&page=1&position=19 */
 /* fontawesome */


 body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }

 footer {
     position: absolute;
     bottom: 5px;
 }

 a {
     text-decoration: none;
 }

 a:hover {
    cursor: pointer;
 }

 .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 56px;
	box-shadow: 0 1px 8px black;

 }

 .session-form {
    display: block;
    margin: auto;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 368px;
    height: 416px;
    border: 1px solid #dadce0;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    padding: 48px 40px 36px;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    letter-spacing: .25px;
 }

 .session-form img {
     padding: 0;
     margin: 0;
 }

 .session-form h1 {
     font-size: 24px;
     font-weight: 400;
     letter-spacing: 0px;
     padding-top: 4px;
     margin: 0;
 }

 .session-form h2 {
     font-size: 16px;
     font-weight: 400;
     letter-spacing: .1px;
     padding-top: 8px;
 }

 .session-form a {
     color: #1a73e8;
     font-size: 14px;
     font-weight: bold;
     text-align: left;
     /* font-weight should be 500, but won't work for a link */
 }

.user-auth-input {
    
    border: 1px solid #dadce0;
    border-radius: 4px;
    outline: none;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    width: 366px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.user-auth-input:focus {
    border: 2px solid #1a73e8;
    
}

.login {
    height: 54px;
}

.signup {
    height: 32px;
}


.session-form-submit {
    /* position: absolute;
    align-items: center; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 130px; */
    margin-top: 32px;
    padding-bottom: 20px;
    bottom: 40px;
}

.next-button {
    background: #1a73e8;
    color: white;
    width: 88px;
    height: 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    padding: 0px;
    border: 0px;
}

.next-button:hover {
     background: #4285f4;
     cursor: pointer;
     
}




