#channel-show-container {
    width: 100%;
    height: 100%;
}

#channel-info {
    padding: 16px 107px 4px;
    display: flex;
    align-items: center;
    h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }
    span {
        color: rgb(96, 96, 96);
        font-size: 14px;
        font-weight: 400;
    }
}

#name-and-subscribers {
    flex-shrink: 0;
}


#customize-channel-btn {
    border: 1px solid rgb(6, 95, 212);
    background: rgb(6, 95, 212);;
    color: #fff;
    height: 36px;
    width: 176.75px;
    outline: none;
    flex-shrink: 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    
}

#channel-nav {
    ul {
        list-style: none;
        display: flex;
        margin: 0px;
        margin-left: 107px;
        padding: 0px;
    }
    button {
        height: 47px;
        padding: 0px 32px;
        font-size: 14px;
        font-weight: 500;
        color: rgb(96, 96, 96);
        outline: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    button:hover {
        color: black;
    }
}


.channel-show-selection {
    background-color: #f1f1f1;
    height: 100%;
    padding: 0 60px;
}

#channel-info-reflow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

#channel-about {
    padding-top: 16px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 14px;
    h3 {
        margin: 24px 0;
        font-size: 16px;
        font-weight: 400;
    }
}

#channel-description-container {
    padding-right: 96px;
    flex-grow: 1;
}

#channel-description {
    word-wrap: break-word;
    flex: 2;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}

#channel-stats {
    display: flex;
    flex-direction: column;
    span, h3 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 0;
        margin: 0;
    }
}
