.nav-bar {
    box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 56px;
    padding: 0px 16px;
}

.nav-bar-left-icons, .nav-bar-right-icons {
    display: flex;
    align-items: center;
}

.sign-in-link {
    color: #1a73e8;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 16px;
    letter-spacing: 0.007px;
}

.nav-bar img {
    width: 80px;
}


.icon-button {
    box-sizing: border-box;
    color: #606060; 
}

#icon {
    padding: 8px;
    color: #606060; 
    width: 24px;
}

#icon-left {
    padding: 8px;
    color: #606060; 
    width: 24px;
    margin-right: 16px;
}

#icon:active {
    background-color: lightgray;
    // display: block;
    padding: 8px;
    border-radius: 50%;
}

#icon-left:active {
    background-color: lightgray;
    // display: block;
    padding: 8px;
    border-radius: 50%;
}

#icon:hover {
    cursor: pointer;
}

.user-nav-initial {
    outline: none;
    color: white;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: none;
    background-color: lightgray;
    display: block;
    border-radius: 50%;
    margin-right: 32px;
    text-align: center;
    display: inline-block;
}

.user-nav-initial:hover {
    cursor: pointer;
    // box-sizing: border-box;
    border: 1px solid #1a73e8;
    margin-right: 31px;

}

