.nav-bar {
    // box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.98);
    height: 56px;
    padding: 0px 16px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    cursor: pointer;
}

.nav-bar-left-icons, .nav-bar-right-icons {
    display: flex;
    align-items: center;
}

.nav-bar-button {
    background-color: transparent;
    transition: background-color 0.3s;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-right: 16px;
    text-align: center;
}

.nav-bar-button:active {
    background-color: rgb(201, 201, 201);
}

.sign-in-link {
    color: #065fd4;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 16px;
    letter-spacing: 0.007px;
}

.nav-bar img {
    width: 80px;
    padding-right: 49px;
}

#icon {
    color: #606060; 
    font-size: 14px;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    max-width: none;
    margin: 0 40px;
}

.search-form {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 640px;
}

.search-input {
    border: 1px solid #cccccc;
    outline: none;
    padding: 2px 6px;
    border-radius: 2px 0 0 2px;
    border-right: none;
    height: 26px;
    box-shadow: inset 0 1px 2px rgb(238, 238, 238);
    font-size: 16px;
    width: 100%;
}

.search-input:focus {
    border: 1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.search-btn {
    border-radius: 0 2px 2px 0;
    border: 1px solid #d3d3d3;
    background-color:  rgb(248, 248, 248);
    width: 65px;
    height: 32px;
    padding: 1px 7px 2px;
    outline: none;
    flex-shrink: 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f0f0f0;
    border-color: #c6c6c6;
    #search-icon {
        color: black;
        opacity: 1;
    }
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.search-btn:focus {
    background-color: #e7e7e7;
}

#search-icon {
    width: 14px;
    height: 14px;
    color: rgb(51, 51, 51);
    opacity: 0.6;
}


// #icon:active {
//     background-color: lightgray;
//     // display: block;
//     padding: 8px;
//     border-radius: 50%;
// }

// #icon-left:active {
//     background-color: lightgray;
//     // display: block;
//     padding: 8px;
//     border-radius: 50%;
// }

#icon:hover {
    cursor: pointer;
}

// .user-nav-initial {
//     outline: none;
//     color: white;
//     font-size: 16px;
//     width: 32px;
//     height: 32px;
//     line-height: 32px;
//     background: none;
//     background-color: lightgray;
//     display: block;
//     border-radius: 50%;
//     margin-right: 32px;
//     text-align: center;
//     display: inline-block;
// }

// .user-nav-initial:hover {
//     cursor: pointer;
//     // box-sizing: border-box;
//     border: 1px solid #1a73e8;
//     margin-right: 31px;

// }

