.session-form {
    display: block;
    margin: auto;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 368px;
    height: 416px;
    border: 1px solid #dadce0;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    padding: 48px 40px 36px;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    letter-spacing: .1px;
    line-height: 1.5;
    overflow: hidden;
 }

 .session-form img {
    padding: 0;
    margin: 0;
    height: 37px;
    width: auto;
 }

 .session-form h1 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    padding-top: 4px;
    margin: 0;
    letter-spacing: .1px;
    line-height: 1.3333333;
 }

 .session-form h2 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1px;
    padding-top: 8px;
 }

 .session-form a {
     color: #1a73e8;
     text-align: left;
     font-size: 14px;
     font-weight: bold;
     /* font-weight should be 500, but won't work for a link */
 }

.demo-user {
     color: #1a73e8;
     text-align: left;
     font-size: 14px;
     font-weight: bold;
     cursor: pointer;
     width: 115px;
     /* font-weight should be 500, but won't work for a link */
 }


.user-auth-input {
    border: 1px solid #dadce0;
    border-radius: 4px;
    outline: none;
    font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    width: 368px;
    padding: 13px 15px;
    box-sizing: border-box;
    text-align: left;
    margin: 8px 1px 8px 0;
}

.user-auth-input:focus {
    border: 2px solid #1a73e8;
    padding: 12px 14px;
}

.error-login {
    border: 2px solid #d93025;
    padding: 12px 14px;
}

.error-login:focus {
    border: 2px solid #d93025;
    padding: 12px 14px;
}

.error-list {
    color: #d93025;
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: left;
    list-style-type: none;
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.login {
    height: 56px;
}


.session-form div {
    display: flex;
    // margin-top: 26px;
    padding-bottom: 20px;
    /* justify-content: space-between; */
}

.demo {
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    color: gray;
} 


.session-form-submit {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.next-button {
    background: #1a73e8;
    outline: none;
    color: white;
    width: 88px;
    height: 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    padding: 0px;
    border: 0px;
    box-shadow: none;
    transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
}

.next-button:hover {
    background: #4285f4;
    cursor: pointer;
    box-shadow: 0 1.6px 3px 0.1px rgba(58, 148, 233, 0.4),0 1.6px 4px 0.1px rgba(58, 148, 233, 0.4)
}
