 .side-bar-container {
    width: 240px;
    flex-shrink: 0;
 }

.side-bar {
    display: flex;
    flex-flow: column;
    // position: fixed;
    // height: 100%;
    background-color: #ffffff;
    width: 240px;
    font-size: 14px;
    z-index: 500;
    flex-shrink: 0;
    height: 100%;
    position: fixed;
}

.side-bar-section {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcdc;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.icon-container {
    font-size: 24px;
}

.side-bar-item {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    font-size: 14px;
    div {
        margin-right: 24px;
    }
    .fa-home {
        color: #606060;
        font-size: 24px;
    }
    cursor: pointer;
}

.side-bar-item:hover, .closed-side-bar-items:hover {
    background-color: #f2f2f2;
}

.best-of-youtoob {
    padding: 8px 24px;
    height: 16px;
    font-weight: bold;
    font-size: 14px;
}

 #closed-side-bar-container {
    width: 72px;
    flex-shrink: 0;
 }

#closed-side-bar {
    display: flex;
    flex-flow: column;
    // position: fixed;
    // height: 100%;
    background-color: #ffffff;
    width: 72px;
    font-size: 14px;
    z-index: 500;
    flex-shrink: 0;
    height: 100%;
    position: fixed;
    padding-top: 4px;
}

.closed-side-bar-items {
    padding: 16px 0 14px 0;
    width: 72px;
    outline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    div {
        margin: 0 0 6px;
        color: #606060;
    }
    span {
        font-size: 10px;
        margin: 0;
    }
}


