.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content, .dropdown-content-upload {
  display: block; 
  position: absolute; 
  background-color: #f9f9f9;
  top: 50px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  z-index: 1;
  cursor: pointer;
}

.dropdown-content {
  width: 300px;
  right: 30px;
}

.dropdown-content-upload {
  width: 177px;
  right: 60px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user-info-content {
  display: flex;
  padding: 16px;
  align-items: center;
  height: 40px;
  background-color: hsl(0, 0%, 93%);
  ul {
    list-style: none;
    padding: 0px;
    .username {
      font-weight: bold;
    }
    .email {
      font-size: 14px;
    }
  }
}

.drop-group {
  padding-top: 8px;
  padding-bottom: 8px;
}

.drop-item {
  display: flex;
  height: 40px;
  padding: 0px 36px 0px 16px;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  .drop-icon {
    font-size: 16px;
    margin-right: 16px;
    color: #8c8c8c;
  }
}

.drop-item:hover {
  background-color: hsl(0, 0%, 90%);
}

.user-pic {
    background-color: #aa47bc;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 6px;
    margin: 8px;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    font-size: 16px;
}

.large-user-pic {
  width: 80px;
  height: 80px;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  margin-right: 24px;
  flex-shrink: 0;
}

.user-pic-drop {
  background-color: #aa47bc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 0;
  font-size: 18px;
}

.user-pic:active {
  border: 1px solid #1a73e8;
}

