.upload-page {
    padding-top: 15px;
    display: flex;
    width: 100%;
    height: 100%;
}

.upload-input {
    display: none;
}

.upload-part-two {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thumbnail-label {
    outline: none;
    width: 112px;
    height: 24px;
    font-size: 13px;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    background: #f8f8f8;
    color: #333;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    margin-top: 15px;
}

.thumbnail-label:hover {
    border: 1px solid #999;
    background-color: #fff;
    background: #f8f8f8;
    box-shadow: 0 0 3px #999;
    background-image: linear-gradient(to bottom, #fff0,#ebebeb 100%);
}

.upload-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    width: 743px;
    height: 385px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.upload-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    #upload-icon {
        font-size: 100px;
        color: #cccccc;
        cursor: pointer;
    }
    #upload-icon:hover {
        color: rgb(131, 0, 0);
    }
    .upload-text {
        padding: 15px;
        color: #444444;
    }
    .edit-text {
        padding: 15px;
        color: #444444;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}

.title-input, .description-input {
    width: 425px;
    padding: 5px 10px 6px;
    border: 1px solid #d3d3d3;
    outline: none;
    font-size: 13px;
    box-sizing: border-box;
    margin-top: 15px;
}

.title-input {  
    height: 28px;
}

.description-input {
    height: 73px;
    resize: vertical;
}

.title-input:focus, .description-input:focus {
    border: 1px solid #1c7eda;
}

.edit-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    width: 743px;
    min-height: 385px;
    display: flex;
    justify-content: center;
}

.error-login {
    border: 2px solid #d93025;
    padding: 12px 14px;
}

.error-login:focus {
    border: 2px solid #d93025;
    padding: 12px 14px;
}

.error-upload-container {
    display: flex;
    justify-content: center;
}

.error-upload-list {
    color: #d93025;
    font-size: 12px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: left;
    list-style-type: none;
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.title-input-edit, .description-input-edit {
    border: 1px solid rgba(0,0,0,.20);
    border-radius: 4px;
    width: 640px;
    box-sizing: border-box;
}


.upload-text-two {
        padding: 15px;
        color: #444444;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        // margin-bottom: 15px;
}

.publish-btn {
    height: 37px;
    width: 105px;
    padding: 10px 16px;
    background-color: rgb(6, 95, 212);
    letter-spacing: 0.007px;
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    align-items: center;
    flex: 1 1 auto;
    cursor: pointer;
    font-stretch: 100%;
    margin-top: 15px;
}