.upload-page {
    padding-top: 15px;
    display: flex;
    width: 100%;
    height: 100%;
}

.upload-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    width: 743px;
    height: 385px;
    display: flex;
    justify-content: center;
}

.upload-prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    #upload-icon {
        font-size: 100px;
        color: #cccccc;
    }
    #upload-icon:hover {
        color: rgb(131, 0, 0);
    }
    .upload-text {
        padding: 15px;
        color: #444444;
    }
    .edit-text {
        padding: 15px;
        color: #444444;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
}

.title-input, .description-input {
    width: 425px;
    padding: 5px 10px 6px;
    border: 1px solid #d3d3d3;
    outline: none;
    font-size: 13px;
    box-sizing: border-box;
}

.title-input {  
    height: 28px;
}

.description-input {
    height: 73px;
}

.title-input:focus, .description-input:focus {
    border: 1px solid #1c7eda;
}

.edit-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    width: 743px;
    min-height: 385px;
    display: flex;
    justify-content: center;
}

.title-input-edit, .description-input-edit {
    border: 1px solid rgba(0,0,0,.20);
    border-radius: 4px;
    width: 640px;
    box-sizing: border-box;
}



.title-input-edit {
    height: 110px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    label {
        color: rgba(0,0,0,.55);
        font-size: 12px;
        margin-top: 8px;
        padding: 0 16px;
        height: 16px;
    }
    textarea {
        resize: none;
        outline: none; 
        padding: calc(20px - 17px) 16px calc(8px - 7px);
        border: none;
        font-size: 15px;
        order: 2;
        height: 44px;
    }
    .char-count-container {
        visibility: hidden;
        text-align: right;
        order: 3;
    }
    .char-count {
        padding: calc(24px - 12px) 16px calc(12px - 4px);
        height: 16px;
        font-size: 12px;
        color: rgba(0,0,0,.55);
    }
}



.description-input-edit {
    resize: none;
    height: 226px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    label {
        color: rgba(0,0,0,.55);
        font-size: 12px;
        margin-top: 8px;
        padding: 0 16px;
        height: 16px;
    }
    textarea {
        resize: none;
        outline: none; 
        padding: calc(20px - 17px) 16px calc(8px - 7px);
        border: none;
        font-size: 15px;
        height: 160px;
        order: 2;
    }
    .char-count-container {
        visibility: hidden;
        text-align: right;
        order: 3;
    }
    .char-count {
        padding: calc(24px - 12px) 16px calc(12px - 4px);
        height: 16px;
        font-size: 12px;
        // color: rgba(0,0,0,.87);
        color: rgba(0,0,0,.55);
    } 
}

.title-text:focus + label, .description-text:focus + label {
    color: #065fd4;
}

.title-text:focus ~ .char-count-container, .description-text:focus ~ .char-count-container {
    visibility: visible;
    color: #065fd4;
}

.title-input-edit:focus-within, .description-input-edit:focus-within {
        border-color: #065fd4;
}

.title-error-container {
    height: 20px;
    padding-top: 4px;
}




.edit-btn-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 24px;
}